<header class='jumbotron' id='header'>
  <h1 class='text-white'>Edit Weather Conditions for <%= @condition.date.strftime('%m/%d/%Y') %></h1>
</header>

<div class='form-block'>
  <%= render partial: 'form' %>
</div>
