<h1>Trips Dashboard</h1>
<p>Average Ride Duration: <%= @average_ride_duration.round(1) %></p>
<p>Longest Ride Duration: <%= @longest_ride_duration.round(1) %></p>
<p>Shortest Ride Duration: <%= @shortest_ride_duration.round(1) %></p>
