<div>Total Station Count: <%= @stations_count %></div>
<div>Average Bikes Per Station: <%= @avg_bikes %></div>
<div>Most Bikes Per Station: <%= @most_bikes %></div>
<div>Station With Most Bikes: <%= @station_most_bikes.name %></div>
